* {
    font-family: 'Courier New', Courier, monospace ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #f6e3ba;
    text-align: center;
    border-radius: 20px;
    color: #cc9966;
}

header {
    position: fixed;
    display: block;
    z-index: 2;
    width: 100%;
    padding-top: 30px;
    top: 0px;
}

.spacer {
    width: 100%;
    height: 200px;
}

nav {
    padding: 20px;
    margin: 10px;
}

li {
    padding-left: 40px;
    padding-right: 40px;
}

img{
    display: block;
    position: relative;
    margin: 30px auto;
    border: 15px solid #cc9966;
    margin-top: 5px;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: 100%;
}

#list-items {
    display: inline;
    left: 0px;
    font-size: 40;
    text-decoration: none;
}

.vanilla {
    color: #fbfffe;
    border: 10px solid #fbfffe;
}

.strawberry {
    color: #efadb9;
    border: 10px solid #efadb9;
}

.chocolate {
    color: #774b3b;
    border: 10px solid #774b3b;
}

.title {
    color: #b37a4c;
    padding: 20px;
}

.contact {
    color: #b37a4c;
    border: 10px solid #cc9966;
}

.image-caption {
    color: #b37a4c;
    margin: 10px;
    font-style: italic;
    margin-bottom: 10px;
}
.image-paragraph {
    color: #b37a4c;
    margin-left: auto;
    margin-right: auto;
    width: 830px;
    margin-bottom: 50px;
 }

 p {
    padding: 30px;
 }

 .inspiration-section {
    position: relative;
    display: block;
 }

 .vanilla-section {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    color: #cc9966;
    border: 15px solid #fbfffe;
    margin-bottom: 10px;
    margin-top: 50px;
 }

 .strawberry-section {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    color: #cc9966;
    border: 15px solid #efadb9;
    margin-bottom: 10px;
 }

 .chocolate-section {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    color: #cc9966;
    border: 15px solid #774b3b;
    margin-bottom: 600px;
 }

.footer-header {
    margin: 10px;
}

 footer {
    display: block;
    position: relative;
    bottom: 0px;
    width: 100%;
    margin: 30px;
 }

 .flavor-menu {
    margin-bottom: 100px;
 }
