* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: block;
    position: relative;
    text-align: center;
}

main {
    padding-top: 100px;
}

h1,
h2,
h3 {
    text-align: center;
}

img{
    display: block;
    position: relative;
    margin: 10px auto;
    border: 5px solid #953553;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: 100%;
}

section {
    position: relative;
    margin: 20px;
}

label {
    display: block;
}

.navigation-bar {
    text-align: right;
    right: 40px;
}

.color-border-design {
    background-color: #2a2b2dff;
    border: 10px solid #953553;
    color: #2da8d8ff;
}

#list-items {
    display: inline;
    left: 0px;
    font-size: 40;
    border: 2px solid #953553;
}
